*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    font-family: "Raleway", Arial, sans-serif;
    /* background-color: #388d80; */
    background-image: url(https://i.pinimg.com/736x/c9/32/77/c9327729dcba78fadd30fb0fa31e2723.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    padding-top: 30px;
    padding-left: 30px;
    color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
  }
  .cardlist{
    display: inline-grid;
    padding: 50px 230px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    padding-bottom: 100px;
    
  }
  button{
      display: flex;
      background-color: #9754e2;
      border: 3px solid #3e4144;
      height:45px;
      width: 100px;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      border-radius: 15px;
      text-decoration:none;
  }
  button:hover{
    background-color: rgb(28, 196, 37);
  }
  button a:hover{
   color: black;
  }
  button a{
    font-size: 14px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
  }
  
  .book-tile{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    padding-top: 15px ;
    font-size: large;
    /* flex-direction: column;
    position: absolute;
    left: 150px; */
  }
  
  .eventname{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  .eventname h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
  
  }
  .card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .card:hover {
    height: 320px;
  }
  img{
    width:200px;
    height: 200px;
  }
  .imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-80px);
    z-index: 99;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }
  
  .content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-40px);
    opacity: 0;
    transition: 0.01s;
  }
  
  .card:hover > .content {
    opacity: 1;
    transform: translateY(-120px);
  }
  .datecard{
    font-weight: bold;
  }
  .content h2 {
    color: #586e79;
  }
  
